---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog Card Preview</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="Blog Card Preview" />
    <meta name="keywords" content="blog, card, preview" />
    <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap"
            rel="stylesheet"
    >
</head>
    <body>
        <slot />
    </body>
</html>
